*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial;
}


.header{
    display: flex;
    flex-direction: column;
}
.container1{
    width: 100%;
    height: 60vh;
    gap: 10px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;

}

.container2{
    width: 100%;
    height: 35vh;
  
    display: flex;
    flex-direction: column;
}


.left, .right{
    color:aliceblue;
    display: flex;
    gap: 16px;
    padding: 16px;
    
}

ul{
    font-size: 18px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding:16px 120px;
    gap: 16px
}



.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    padding: 16px;

}


.description{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    

}

.mini{
    font-size: 16px;
    color: #E5E7EB;
    
}

.intro{
    font-size: 48px;
    color: #f9faf8;
    padding-right: 32px;
    padding-top: 140px;
    padding-left: 120px;
 
    
  

}

.chonker{
    color: #f9faf8;
    padding-left: 12px;
    align-self: center;
    font-size: 48px;
    padding-top: 70px;
}

.btn-1{
    background-color: #3882f6;
    height: 36px;
    width: 100px;
    color:#f9faf8;
    border-radius: 6px;
    border: none;
}

.team{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
    font-size: 24px;
    padding-top: 16px;
    
    margin-bottom: 10px;
    
}


.staff{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.staff img{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    margin: 5px 20px 0px 20px ;
    border: 4px solid #3882f6;
    border-radius: 15px;



}

.staff p{
    font-size: large;
    margin-top: 10px;
    text-align: center;
    
}


.container3{
    width: 100%;
    height: 15vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    display: flex;
    align-items: center;
}

.author{
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    margin-bottom: 18px;
}